:root {
    --border: 2px solid hsl(0 0% 60%);
}
body {
    margin: 0px;
    font-family: sans-serif;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 3rem;
}
#score-board {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
#score-board-heading {
    font-size: 2rem;
    text-transform: uppercase;
}
#score-section {
    display: flex;
}
.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0;
}
.score-player {
    font-size: 1.5rem;
}
.score-points {
    font-size: 1.25rem;
}
.game-ui {
    max-width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    margin-right: auto;
    margin-left: auto;
}
.cell {
    border: none;
    text-align: center;
    font-size: 3rem;
}
#cell-1,
#cell-2,
#cell-4,
#cell-5 {
    border-right: var(--border);
    border-bottom: var(--border);
}
#cell-3,
#cell-6 {
    border-bottom: var(--border);
}
#cell-7,
#cell-8 {
    border-right: var(--border);
}
.win {
    color: goldenrod;
    font-weight: 700;
}
#message {
    font-size: 2rem;
    margin-top: 40px;
}
#restart {
    border: none;
    padding: 16px 32px;
    border-radius: 8px;
    margin-top: 40px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1rem;
}
#reset {
    border: none;
    padding: 16px 32px;
    border-radius: 8px;
    margin-top: 40px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.875rem;
    background-color: rgb(107, 220, 20);
    color: rgb(255, 255, 255);
}
